<!DOCTYPE html>
<html class="no-js">
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>XV Años Nahomi</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Template by FREEHTML5.CO" />
	<meta name="keywords" content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive" />
	<meta name="author" content="FREEHTML5.CO" />

  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<link href='https://fonts.googleapis.com/css?family=Work+Sans:400,300,600,400italic,700' rel='stylesheet' type='text/css'>
	<link href="https://fonts.googleapis.com/css?family=Sacramento" rel="stylesheet">
	<script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
	
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" charset="utf-8"></script>
	
	<!-- Animate.css -->
	<link rel="stylesheet" href="/assets/css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="/assets/css/icomoon.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="/assets/css/bootstrap.css">

	<!-- Magnific Popup -->
	<link rel="stylesheet" href="/assets/css/magnific-popup.css">

	<!-- Owl Carousel  -->
	<link rel="stylesheet" href="/assets/css/owl.carousel.min.css">
	<link rel="stylesheet" href="/assets/css/owl.theme.default.min.css">

	<!-- Theme style  -->
	<link rel="stylesheet" href="/assets/css/style.css">

	
	</head>
	<body>
		
	<!-- <div class="fh5co-loader"></div> -->
	<div id="page">
	
    
	

	<div id="fh5co-header" class="fh5co-cover" style="background-image:url(/assets/images/circle_clear.jpg);">
		<div class="overlay"></div>
		<div class="container">
			
			<div class="row">
				<div class="display-t">
					<div class="display-tc">
						<div class="col-md-8 col-md-offset-2 text-center">
							<div class="display-t">
								<div class="display-tc animate-box" data-animate-effect="fadeIn">
									<h1>Nahomi</h1>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-couple">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
					<h2>¡Mis XV Años!</h2>
					<h3>Sábado 26 de Marzo de 2022, San Carlos, Yautepec, Mor</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-md-8 col-md-offset-3 text-center couple-half">
					
					<div class="">
						<h3>Hoy queda en el recuerdo mi niñez, pero hoy renazco para vivir el momento más feliz de mi vida: mi adolescencia. 
							quisiera que estés junto a mi para que compartamos un día muy especial.</h3>
					</div>
				</div>	
			</div>
		</div>
	</div>

	<div id="">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-md-offset-2 text-center fh5co-heading animate-box">
					<div class="row">
						
							<div class="col-md-4 col-sm-4">
								<h2>Papás</h2>
								<p style="font-family: Sacramento, Arial, serif;color: black;font-size: xx-large;font-weight: bold;">
									Katya Cartujano Gutiérrez</p>
								<p style="font-family: Sacramento, Arial, serif;color: black;font-size: xx-large;font-weight: bold;">
									Efigenio Zúñiga Sandoval</p>
							</div>
							<div class="col-md-4 col-sm-4">
								<h2>Padrinos</h2>
								<p style="font-family: Sacramento, Arial, serif;color: black;font-size: xx-large;font-weight: bold;">
									Gandhi Sandoval Sánchez</p>
								<p style="font-family: Sacramento, Arial, serif;color: black;font-size: xx-large;font-weight: bold;">
									Argenis Vergara Zúñiga</p>
							</div>
						
					</div>
			
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-event" class="fh5co-bg" style="background-image:url(/assets/images/circle_pink.jpg);">
		<div class="overlay"></div>
		<div class="container">
			
			<div class="row">
				<div class="display-t">
					<div class="display-tc">
						<div class="col-md-10 col-md-offset-1">
							<div class="col-md-12 col-sm-12 text-center">
								<div class="event-wrap animate-box">
									<h3>Ceremonia Religiosa</h3>
									<div class="event-col">
										<i class="icon-clock"></i>
										<span>4:00 PM</span>
										<span>5:00 PM</span>
									</div>
									<div class="event-col">
										<i class="icon-calendar"></i>
										<span>Sábado 26</span>
										<span>Marzo, 2022</span>
									</div>
									<p>Parroquia Santa Inés de Montepulciano.</p>
									<p>Cda. Felipe Neri 24, 62737 Oacalco, Mor.</p>
									
									<button style="border-radius: 20px;background-color: #f4dce6;">
										<a href="https://goo.gl/maps/keJpBEheXo6NeskX6" target="_blank">
											Ir al evento
										</a> 
										<i class='fas fa-map-marker-alt'></i>
									</button>
								</div>
							</div>
							
							<div class="col-md-12 col-sm-12 text-center">
								<div class="event-wrap animate-box">
									<h3>Recepción</h3>
									<div class="event-col">
										<i class="icon-clock"></i>
										<span>5:00 PM</span>
										<span>7:00 PM</span>
									</div>
									<div class="event-col">
										<i class="icon-calendar"></i>
										<span>Sábado 26</span>
										<span>Marzo, 2022</span>
									</div>
									<p>Jardín de eventos Fortezza</p>
									<p>Carretera Federal Cuernavaca-Cuautla Km 33 62737 Municipio de San Carlos Yautepec, México</p>
									<button style="border-radius: 20px;background-color: #f4dce6;">
										<a href="https://goo.gl/maps/ZvvonJMqHr5ZRd13A" target="_blank">
											Ir al evento
										</a>
										<i class="fa-solid fa-location-dot"></i>
										<i class="fa-thin fa-location-dot"></i>
									</button>
									
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="fh5co-couple-story">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-md-offset-0">
					<ul class="timeline animate-box">
						<li class="animate-box">
							<div class="timeline-badge" style="background-image:url(/assets/images/medseg.png); background-size: 100%;
							background-position-y: center;"></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">Medidas de seguridad</h3>
									
								</div>
								<div class="timeline-body">
									<p>Uso de Cubrebocas.</p>
									<p>Gel Antibacterial.</p>
									<p>Toma de temperatura.</p>
								</div>
							</div>
						</li>
			    	</ul>
				</div>
			</div>
		</div>
	</div>



	<div id="fh5co-started" class="fh5co-bg" style="background-image:url(/assets/images/fondo_2.jpg);">
		<div class="overlay"></div>
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>Confirma tu asistencia</h2>
					
				</div>
			</div>
			<div class="row animate-box">
				<div class="col-md-10 col-md-offset-2">
					 <form id="formulario" class="formulario" style="margin-left: 22%;">
						
						<div class="box-input" style="color: black;">
							<label>Nombre y Apellido</label><br>
							<input name="nombre" id="nombre" type="text" required>
							<span data-placeholder="Escriba su Nombre y Apellido"></span>
						</div>
						
						<div class="box-input" style="color: black;">
							<label for="singleSelect"> Adultos: </label><br>
							<select name="adultos" ng-model="data.singleSelect" required style="width: 46%;">
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
							</select>
							
						</div>
						<div class="box-input" style="color: black;">
							<label for="singleSelect"> Niños: </label><br>
							<select name="ninios" ng-model="data.singleSelect" required style="width: 46%;">
							<option value="0">0</option>
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
							</select>
						</div><br>
						<button id="submit" type="submit" class="boton" style="border-radius: 20px;background-color: #f4dce6;color: black;">
							Confirmar
						</button>
					</form>		
					
				</div>
			</div>
		</div>
	</div>
</div>


	</body>
</html>